<a href="https://colab.research.google.com/github/Suchirapon/data_viz/blob/main/6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive #เชื่อมต่อ google.colab กับ drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #ทำงานเกี่ยวกับการจัดการไฟล์ 
path = '/content/drive/My Drive/dataviz_2021_data'

In [4]:
search_df = os.path.join(path,'search_request.csv')

In [7]:
s_df = pd.read_csv(search_df) 
s_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [29]:
from datetime import datetime

In [13]:
s_df.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in s_df.columns]
s_df.head()

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [24]:
s_df['search_timestamp'] = pd.to_datetime.strptime('search_timestamp', '%Y-%m-%d %H:%M:%S.%f')

AttributeError: ignored

In [27]:
s_df['search_timestamp'] = pd.to_datetime.strftime(s_df['search_timestamp'],format='%Y-%m-%d %H:%M:%S.%f')
s_df

AttributeError: ignored