<a href="https://colab.research.google.com/github/Suchirapon/data_viz/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive #เชื่อมต่อ google.colab กับ drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #ทำงานเกี่ยวกับการจัดการไฟล์ 
path = '/content/drive/My Drive/dataviz_2021_data'

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

## .isnull()?? None??

In [ ]:
data_covid.isnull().any()
#.any() เอาค่าความจริงภายในแต่ละคอลัมมา or กัน

In [7]:
data_covid.isnull().all()
#.all() เอาค่าความจริงภายในแต่ละคอลัมมา and กัน

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [ ]:
data_covid.iloc[0,0].isnull()
#ชี้ค่าในตารางว่าเป็นค่าว่างไม่ได้ เพราะ isnull จะชี้ค่าได้เมื่อตารางเป็น array

In [ ]:
data_covid.iloc['No.'][0].isnull()

In [8]:
data_covid.iloc[:1,0].isnull()
#ตัดตารางโดย [:1,0] เพื่อให้ isnull มองค่าเป็น array

0    False
Name: No., dtype: bool

# ต่อตารางแกน x แกน y 

- ต่อแกน y คือ เพิ่ม records (เพิ่มจำนวนข้อมูล)
- ต่อแกน x คือ เพิ่ม columns (เพิ่มรายละเอียดของข้อมูล)

## ต่อแกน Y ด้วยคำสั่ง pd.concat()

In [9]:
dataKK = data_covid[data_covid['province_of_onset']=='ขอนแก่น'] # สร้าง list ขอนแก่น
dataKK.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

In [10]:
dataUD = data_covid[data_covid['province_of_onset']=='อุดรธานี'] # สร้าง list อุดรธานี
dataUD.head()

     No.  ...                                         risk
424  425  ...                                      สนามมวย
434  435  ...                                  สถานบันเทิง
471  472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883  884  ...                                  สถานบันเทิง
885  886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5 rows x 10 columns]

In [11]:
dataMS = data_covid[data_covid['province_of_onset']=='มหาสารคาม'] # สร้าง list มหาสารคาม

In [12]:
# คำสั่ง pd.concat นำตารางมารวมกัน ต่อกันในแนวแกน Y (ต่อด้านล่าง) 
DataMYisan = pd.concat([dataKK,dataMS,dataUD])
DataMYisan.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

## ต่อแกน X ด้วยคำสั่ง 

- จับ 2 ตารางมาต่อกันเลย (merge)
- เลือกมาเพิ่มเฉพาะบางคอลัม (map)

In [ ]:
data_province = data_covid[['No.','announce_date','province_of_onset']]
data_province

In [ ]:
data_human = data_covid[['No.','sex',	'age'	,'nationality']]
data_human

### แบบง่าย รู้ว่าสองตาราง record ตรงกัน

In [ ]:
full_table1 = data_human.merge(data_province ) #เอาตาราง data_human มาต่อกับตาราง data_province 
full_table1

### sort

In [ ]:
data_human2 = data_human.sort_values('age') # ทำการเรียงตาม อายุ
data_human2

In [ ]:
full_table2 = data_human2.merge(data_province ) 
full_table2.head()

In [ ]:
data_human2_renamed = data_human2.rename(columns={'No.' : 'patientNumber'}) #ทำการเปลี่ยนชื่อคอลัม No ด้วยคำสั่ง .rename
data_human2_renamed.head()

In [25]:
data_human2_renamed.merge(data_province) # ไม่มีชื่อ คอมลัม ที่เหมือนกัน

MergeError: ignored

In [ ]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.') 
full_table3.head()
#จะต้องใส่ว่าคอลัมไหนที่ต้องการจะแมตซ์ โดยชี้ที่ left_on=,right_on=

### map() เลือกมาเฉพาะบางคอลัม มาแปะเพิ่มเข้าไป

In [ ]:
data_human2_renamed['detail'] = data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_renamed
#

In [ ]:
data_human2_renamed.merge(data_province) #เนื่องจากไม่มีชื่อคอลัมที่เหมือนกันเลย

In [ ]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.') #กำหนดคีย์ที่ใส่เชื่อมกันของสองตาราง
full_table3.head()

In [ ]:
full_table3_1 = data_human2_renamed.merge(data_covid,how='left',left_on='age',right_on='age')
full_table3_1.head()

In [ ]:
data_human2_renamed.head()

In [ ]:
data_covid.head()

คุณสมบัติของ pandas ก็คือเราสามารถสร้าง column ใหม่ให้ตาราง df ได้ โดย

df['ชื่อ column ใหม่'] = (list ที่มีจำนวนสมาชิกเท่ากับจำนวน record ของ df)

In [ ]:
data_human2_renamed.head()

In [ ]:
data_human2_renamed['num'] = range(data_human2_renamed.shape[0])
data_human2_renamed

In [ ]:
data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk']) #.map มันจะ ผูกค่า 'patientNumber' กับ 'No.' เข้าด้วยกัน แล้ว return list ของค่า ['risk']

In [ ]:
data_human2_renamed['detail'] = data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_renamed

# HW7 สร้างตารางใหม่ที่ค่าใน __sex__ เป็น missing ทั้งหมด .isnull()

- สรุปว่าทำไม record นั้นๆถึงเป็น missing

In [ ]:
data_covid.head()

In [ ]:
data_covid.isnull().any()

In [62]:
data_covid_sex = data_covid.fillna({'sex' : 'missing'})
data_covid_sex

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [73]:
datasex_missing = data_covid_sex[data_covid_sex['sex']=='missing']
datasex_missing

         No. announce_date  ... district_of_onset               risk
4391    4392    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4392    4393    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4393    4394    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4394    4395    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4395    4396    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
...      ...           ...  ...               ...                ...
12405  12406     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12406  12407     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12407  12408     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12408  12409     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12409  12410     1/18/2021  ...               NaN  Cluster สมุทรสาคร

[2497 rows x 10 columns]

In [74]:
newtable_missing = datasex_missing.iloc[:,5:]
newtable_missing

      nationality province_of_isolation  ... district_of_onset               risk
4391        Burma             สมุทรสาคร  ...             เมือง  Cluster สมุทรสาคร
4392        Burma             สมุทรสาคร  ...             เมือง  Cluster สมุทรสาคร
4393        Burma             สมุทรสาคร  ...             เมือง  Cluster สมุทรสาคร
4394        Burma             สมุทรสาคร  ...             เมือง  Cluster สมุทรสาคร
4395        Burma             สมุทรสาคร  ...             เมือง  Cluster สมุทรสาคร
...           ...                   ...  ...               ...                ...
12405         NaN             สมุทรสาคร  ...               NaN  Cluster สมุทรสาคร
12406         NaN             สมุทรสาคร  ...               NaN  Cluster สมุทรสาคร
12407         NaN             สมุทรสาคร  ...               NaN  Cluster สมุทรสาคร
12408         NaN             สมุทรสาคร  ...               NaN  Cluster สมุทรสาคร
12409         NaN             สมุทรสาคร  ...               NaN  Cluster สมุทรสาคร

[2497 rows x 5 columns]

In [76]:
newtable_missing.groupby('province_of_isolation').count()

                       nationality  province_of_onset  district_of_onset  risk
province_of_isolation
จันทบุรี                        19                  0                  0    19
ชลบุรี                          77                 18                 18    66
ตราด                             3                  0                  0     3
นนทบุรี                          0                  0                  0     1
ระยอง                            3                  6                  0     8
สมุทรปราการ                      3                  0                  0     3
สมุทรสาคร                     1368               1353               1353  2253

In [77]:
newtable_missing.groupby('nationality').count()

             province_of_isolation  province_of_onset  district_of_onset  risk
nationality
Burma                         1366               1349               1349  1366
Cambodia                        61                  0                  0    61
Thailand                        46                 22                 21    31

ค่า missing ของผู้ป่วยที่ไม่รู้เพศ ที่ดูโดยเน้นคอลัม province_of_isolation จะพบผู้ป่วยที่อยู่ในจังหวัดสมุทรสาครมากที่สุด และเมื่อดูคอลัม nationality	จะพบว่าผู้ป่วยมีสัญชาติ Burma มากที่สุด ซึ่งค่า missing ที่พบอาจเกิดจากการที่ไม่ทำการจดบันทึกหรือไม่ทราบข้อมูลของผู้ป่วย