<a href="https://colab.research.google.com/github/Suchirapon/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#import แพคเกจ pandas เปลี่ยนชื่อเป็น pd

In [2]:
from google.colab import drive #เชื่อมต่อ google.colab กับ drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #ทำงานเกี่ยวกับการจัดการไฟล์ 
path = '/content/drive/My Drive/dataviz_2021_data'

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

In [5]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

# load data to memory

In [6]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [7]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [8]:
data_covid.shape

(12423, 10)

# ชี้ค่าในตาราง

basic

In [9]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [10]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

### .iloc

In [11]:
data_covid.iloc[4,7] #ชี้แถวที่ 4 หลักที่ 7

'กรุงเทพมหานคร'

# Table slicing

ตัดมาเฉพาะคอลัมที่ต้องการ

In [12]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

### ตัดเฉพาะ rows ที่ต้องการ

#### แบบง่าย แต่ใช้การอะไรไม่ค่อยได้ (มองเป็น array แล้วตัดแบบ array)

In [13]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

#### แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [14]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']
#

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

__data_covid[x]__ _x_ สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ 


1.   ชื่อ colum
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดแถวเท่ากับจำนวน แล้วบอกว่าเอาแถวไหนบ้างโดยใช้ logical expression (```True```/```False```))

In [15]:
eight_rows_covid = data_covid.iloc[:8,:] #ตารางตัวอย่าง
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [16]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]
# 2. ใส่ rows ที่ต้องการ
#เอาแถวไหน คือ True ไม่เอาคือ False

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [17]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' # สร้าง list ของ logical expression
# เจอกรุงเทพ ใส่ true ไม่เจอคือ false

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [18]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'] 
#เราเอา 2บรรทัดมาบวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

3. หาจำนวนผู้ป่วยที่เป็นคนต่างชาติที่เดินทางมาจากต่างประเทศ

In [19]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

# HW 
1. คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด

2. คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

In [ ]:
# ข้อ 1 คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด
data_age_total = data_covid[['sex','age']] 
sex_1 = data_age_total[data_age_total['sex']=='ชาย']
age_male = sex_1[['age']]
age_male_drop = age_male.dropna()
male = age_male_drop.values # ส่งค่ากลับเป็น List ของ Value ทั้งหมดใน Dictionary

sum = 0 # กำหนดให้เริ่มต้นที่ 0 เพื่อให้ภาษาไพธอนทราบว่าตัวแปรเป็นจำนวนจริง
for i in male :
     sum = float (sum + i)
     mean_male = sum/len(male)

In [ ]:
print(f'อายุเฉลี่ยของผู้ชาย = {mean_male} ปี')

อายุเฉลี่ยของผู้ชาย = 39.55682775996335 ปี

In [ ]:
sex_2 = data_age_total[data_age_total['sex']=='หญิง']
age_female = sex_2[['age']]
age_female_drop  = age_female.dropna()
female = age_female_drop.values

sum_2 = 0
for i in female  :
     sum_2 = float (sum_2 + i)
     mean_female = sum_2/len(female)

In [ ]:
print(f'อายุเฉลี่ยของผู้หญิงทั้งหมด = {mean_female} ปี')

อายุเฉลี่ยของผู้หญิงทั้งหมด = 36.70788295640009 ปี

In [ ]:
# ข้อ 2 คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น
data_age_total = data_covid[['sex','age','province_of_onset']] 
age_khonkean = data_age_total[data_age_total['province_of_onset']=='ขอนแก่น']
sex_male = age_khonkean[age_khonkean['sex']=='ชาย']
age_khonkean_male = sex_male[['age']]
male_drop = age_khonkean_male.dropna()
male_kk = male_drop.values

sum_01 = 0
for i in male_kk :
     sum_01 = float (sum_01 + i)
     mean_maleKK = sum_01/len(male_kk)

In [ ]:
print(f'อายุเฉลี่ยของผู้ชายทั้งหมดในจังหวัดขอนแก่น = {mean_maleKK} ปี')

อายุเฉลี่ยของผู้ชายทั้งหมดในจังหวัดขอนแก่น = 26.571428571428573 ปี

In [ ]:
sex_female = age_khonkean[age_khonkean['sex']=='หญิง']
age_khonkean_female = sex_female[['age']]
female_drop = age_khonkean_female.dropna()
female_kk = female_drop.values

sum_02 = 0
for i in female_kk :
     sum_02 = float (sum_02 + i)
     mean_femaleKK = sum_02/len(female_kk)

In [ ]:
print(f'อายุเฉลี่ยของผู้หญิงทั้งหมดในจังหวัดขอนแก่น = {mean_femaleKK} ปี')

อายุเฉลี่ยของผู้หญิงทั้งหมดในจังหวัดขอนแก่น = 41.57142857142857 ปี

### เฉลยการบ้าน

In [20]:
this_data = data_covid[['sex','age','province_of_onset']]

In [21]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [22]:
female = this_data[this_data['sex']=='หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 5199, dtype: float64

In [26]:
sum = 0
N = 0
for a in female['age']:
    if a > 0:
      sum += a # sum = sum + a
      N += 1
print(f'อายุเฉลี่ย ของ ผู้หญิง {sum/N}')

อายุเฉลี่ย ของ ผู้หญิง 36.70788295640009

In [27]:
female_KK = female[female['province_of_onset']=='ขอนแก่น']


sum = 0
N = 0
for a in female_KK['age']:
    if a > 0:
      sum += a # sum = sum + a
      N += 1
print(f'อายุเฉลี่ย ของ ผู้หญิง ในจังหวัดขอนแก่น {sum/N}')

อายุเฉลี่ย ของ ผู้หญิง ในจังหวัดขอนแก่น 41.57142857142857

### การจัดการ Missing Value

- ลบ record ที่เป็น missing
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknow 
- ใช้ ค่าจาก column อื่น ช่วยประมาณค่าในคอลัมที่หายไป (regression, deep learning, etc.)

### ลบ record ใช้ (.dropna)

missing = None,NA = (not autorized),NaN=(Not a number)

In [28]:
this_data.shape

(12423, 3)

In [29]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12423, 10)
(6430, 10)

In [30]:
this_data.dropna().shape

(8253, 3)

In [32]:
this_data.dropna(inplace=True) # inplace=True เป็นการเพิ่มค่าในตาราง

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
this_data.dropna()
print(this_data.shape)

(12423, 3)

In [ ]:
this_data.dropna()
print(this_data.shape)

In [34]:
this_data = data_covid[['sex','age','province_of_onset']] 
this_data.shape

(12423, 3)

In [35]:
this_data.dropna(subset= ['age']).shape
# sebset เป็นตัวเลือกคอลัม ที่จะทำการ dropna

(8656, 3)

### แทน missing ด้วยค่าที่เหมาะสม (fillna = ฟิว'na) โดยที่ข้อมูลจะไม่หายไป

In [40]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [41]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f"จำนวน record ก่อน drop missing ใน province {this_data.dropna(subset= ['province_of_onset']).shape[0]}")

จำนวน record ก่อน drop missing ใน province 12423
จำนวน record ก่อน drop missing ใน province 10432

In [ ]:
this_data_updated = this_data_updated

In [45]:
data_covid[this_data_updated['sex']=='ไม่รู้'] #รันออกมาได้เพราะจำนวนแถวเท่ากัน

NameError: ignored

### การวนลูป record ในตาราง(iterrow)

In [ ]:
for each_row in this_data.iterrows() :
  print(each_row)
  print(each_row)
    if each_row['age'] == 20:
    print(each_row)