<a href="https://colab.research.google.com/github/Suchirapon/data_viz/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive #เชื่อมต่อ google.colab กับ drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #ทำงานเกี่ยวกับการจัดการไฟล์ 
path = '/content/drive/My Drive/dataviz_2021_data'

In [7]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

## .isnull()?? None??

In [12]:
data_covid.isnull().any()
#.any() เอาค่าความจริงภายในแต่ละคอลัมมา or กัน

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

In [13]:
data_covid.isnull().all()
#.all() เอาค่าความจริงภายในแต่ละคอลัมมา and กัน

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [14]:
data_covid.iloc[0,0].isnull()
#ชี้ค่าในตารางว่าเป็นค่าว่างไม่ได้ เพราะ isnull จะชี้ค่าได้เมื่อตารางเป็น array

AttributeError: ignored

In [ ]:
data_covid.iloc['No.'][0].isnull()

In [17]:
data_covid.iloc[:1,0].isnull()
#ตัดตารางโดย [:1,0] เพื่อให้ isnull มองค่าเป็น array

0    False
Name: No., dtype: bool

# HW7 สร้างตารางใหม่ที่ค่าใน __sex__ เป็น missing ทั้งหมด .isnull()

- สรุปว่าทำไม record นั้นๆถึงเป็น missing

# ต่อตารางแกน x แกน y 

- ต่อแกน y คือ เพิ่ม records (เพิ่มจำนวนข้อมูล)
- ต่อแกน x คือ เพิ่ม columns (เพิ่มรายละเอียดของข้อมูล)

## ต่อแกน Y ด้วยคำสั่ง pd.concat()

In [ ]:
dataKK = data_covid[data_covid['province_of_onset']=='ขอนแก่น'] # สร้าง list ขอนแก่น
dataKK.head()

In [ ]:
dataUD = data_covid[data_covid['province_of_onset']=='อุดรธานี'] # สร้าง list อุดรธานี
dataUD.head()

In [ ]:
dataMS = data_covid[data_covid['province_of_onset']=='มหาสารคาม'] # สร้าง list มหาสารคาม

In [26]:
# คำสั่ง pd.concat นำตารางมารวมกัน ต่อกันในแนวแกน Y (ต่อด้านล่าง) 
DataMYisan = pd.concat([dataKK,dataMS,dataUD])
DataMYisan.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

## ต่อแกน X ด้วยคำสั่ง 

- จับ 2 ตารางมาต่อกันเลย (merge)
- เลือกมาเพิ่มเฉพาะบางคอลัม (map)

In [ ]:
data_province = data_covid[['No.','announce_date','province_of_onset']]
data_province

In [ ]:
data_human = data_covid[['No.','sex',	'age'	,'nationality']]
data_human

### แบบง่าย รู้ว่าสองตาราง record ตรงกัน

In [ ]:
full_table1 = data_human.merge(data_province ) #เอาตาราง data_human มาต่อกับตาราง data_province 
full_table1

### sort

In [ ]:
data_human2 = data_human.sort_values('age') # ทำการเรียงตาม อายุ
data_human2

In [33]:
full_table2 = data_human2.merge(data_province ) 
full_table2.head()

     No.   sex   age nationality announce_date province_of_onset
0   1988   ชาย  0.10    Thailand      4/4/2020             ระยอง
1   6478  หญิง  0.11    Thailand    12/30/2020          เพชรบุรี
2  11498   ชาย  0.11       Burma     1/16/2021         สมุทรสาคร
3   1676   ชาย  0.30       Japan      4/1/2020     กรุงเทพมหานคร
4   1076   ชาย  0.40    Thailand     3/27/2020      สุราษฎร์ธานี

In [36]:
data_human2_renamed = data_human2.rename(columns={'No.' : 'patientNumber'})
data_human2_renamed.head()

       patientNumber   sex   age nationality
1987            1988   ชาย  0.10    Thailand
6477            6478  หญิง  0.11    Thailand
11497          11498   ชาย  0.11       Burma
1675            1676   ชาย  0.30       Japan
1075            1076   ชาย  0.40    Thailand

In [37]:
data_human2_renamed.merge(data_province) # ไม่มีชื่อ คอมลัม ที่เหมือนกัน

MergeError: ignored

In [38]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.') 
full_table3.head()
#จะต้องใส่ว่าคอลัมไหนที่ต้องการจะแมตซ์ โดยชี้ที่ left_on=,right_on=

   patientNumber   sex   age nationality    No. announce_date province_of_onset
0           1988   ชาย  0.10    Thailand   1988      4/4/2020             ระยอง
1           6478  หญิง  0.11    Thailand   6478    12/30/2020          เพชรบุรี
2          11498   ชาย  0.11       Burma  11498     1/16/2021         สมุทรสาคร
3           1676   ชาย  0.30       Japan   1676      4/1/2020     กรุงเทพมหานคร
4           1076   ชาย  0.40    Thailand   1076     3/27/2020      สุราษฎร์ธานี

### map() เลือกมาเฉพาะบางคอลัม มาแปะเพิ่มเข้าไป

In [42]:
data_human2_renamed['detail'] = data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_renamed
#

       patientNumber  ...                                       detail
1987            1988  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
6477            6478  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11497          11498  ...                            Cluster สมุทรสาคร
1675            1676  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075            1076  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
...              ...  ...                                          ...
12405          12406  ...                            Cluster สมุทรสาคร
12406          12407  ...                            Cluster สมุทรสาคร
12407          12408  ...                            Cluster สมุทรสาคร
12408          12409  ...                            Cluster สมุทรสาคร
12409          12410  ...                            Cluster สมุทรสาคร

[12423 rows x 5 columns]