<a href="https://colab.research.google.com/github/Suchirapon/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#import แพคเกจ pandas เปลี่ยนชื่อเป็น pd

In [2]:
from google.colab import drive #เชื่อมต่อ google.colab กับ drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #ทำงานเกี่ยวกับการจัดการไฟล์ 
path = '/content/drive/My Drive/dataviz_2021_data'

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

In [5]:
a = path + '/pm-18-jan-2021.csv'
print(a)

/content/drive/My Drive/dataviz_2021_data/pm-18-jan-2021.csv

# load data to memory

In [6]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [7]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [8]:
data_covid.shape

(12423, 10)

# ชี้ค่าในตาราง

basic

In [9]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [10]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

### .iloc

In [11]:
data_covid.iloc[4,7] #ชี้แถวที่ 4 หลักที่ 7

'กรุงเทพมหานคร'

# Table slicing

ตัดมาเฉพาะคอลัมที่ต้องการ

In [12]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

### ตัดเฉพาะ rows ที่ต้องการ

#### แบบง่าย แต่ใช้การอะไรไม่ค่อยได้ (มองเป็น array แล้วตัดแบบ array)

In [13]:
data_covid.iloc[1:5,:]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

#### แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [14]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']
#

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

__data_covid[x]__ _x_ สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ 


1.   ชื่อ colum
2.   ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดแถวเท่ากับจำนวน แล้วบอกว่าเอาแถวไหนบ้างโดยใช้ logical expression (```True```/```False```))

In [15]:
eight_rows_covid = data_covid.iloc[:8,:] #ตารางตัวอย่าง
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [16]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]
# 2. ใส่ rows ที่ต้องการ
#เอาแถวไหน คือ True ไม่เอาคือ False

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [17]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร' # สร้าง list ของ logical expression
# เจอกรุงเทพ ใส่ true ไม่เจอคือ false

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

In [18]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'] 
#เราเอา 2บรรทัดมาบวกกัน

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[6 rows x 10 columns]

3. หาจำนวนผู้ป่วยที่เป็นคนต่างชาติที่เดินทางมาจากต่างประเทศ

In [19]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

# HW 
1. คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด

2. คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

In [ ]:
# ข้อ 1 คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด
data_age_total = data_covid[['sex','age']] 
sex_1 = data_age_total[data_age_total['sex']=='ชาย']
age_male = sex_1[['age']]
age_male_drop = age_male.dropna()
male = age_male_drop.values # ส่งค่ากลับเป็น List ของ Value ทั้งหมดใน Dictionary

sum = 0 # กำหนดให้เริ่มต้นที่ 0 เพื่อให้ภาษาไพธอนทราบว่าตัวแปรเป็นจำนวนจริง
for i in male :
     sum = float (sum + i)
     mean_male = sum/len(male)

In [ ]:
print(f'อายุเฉลี่ยของผู้ชาย = {mean_male} ปี')

อายุเฉลี่ยของผู้ชาย = 39.55682775996335 ปี

In [ ]:
sex_2 = data_age_total[data_age_total['sex']=='หญิง']
age_female = sex_2[['age']]
age_female_drop  = age_female.dropna()
female = age_female_drop.values

sum_2 = 0
for i in female  :
     sum_2 = float (sum_2 + i)
     mean_female = sum_2/len(female)

In [ ]:
print(f'อายุเฉลี่ยของผู้หญิงทั้งหมด = {mean_female} ปี')

อายุเฉลี่ยของผู้หญิงทั้งหมด = 36.70788295640009 ปี

In [ ]:
# ข้อ 2 คำนวณ อายุเฉลี่ย ของผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น
data_age_total = data_covid[['sex','age','province_of_onset']] 
age_khonkean = data_age_total[data_age_total['province_of_onset']=='ขอนแก่น']
sex_male = age_khonkean[age_khonkean['sex']=='ชาย']
age_khonkean_male = sex_male[['age']]
male_drop = age_khonkean_male.dropna()
male_kk = male_drop.values

sum_01 = 0
for i in male_kk :
     sum_01 = float (sum_01 + i)
     mean_maleKK = sum_01/len(male_kk)

In [ ]:
print(f'อายุเฉลี่ยของผู้ชายทั้งหมดในจังหวัดขอนแก่น = {mean_maleKK} ปี')

อายุเฉลี่ยของผู้ชายทั้งหมดในจังหวัดขอนแก่น = 26.571428571428573 ปี

In [ ]:
sex_female = age_khonkean[age_khonkean['sex']=='หญิง']
age_khonkean_female = sex_female[['age']]
female_drop = age_khonkean_female.dropna()
female_kk = female_drop.values

sum_02 = 0
for i in female_kk :
     sum_02 = float (sum_02 + i)
     mean_femaleKK = sum_02/len(female_kk)

In [ ]:
print(f'อายุเฉลี่ยของผู้หญิงทั้งหมดในจังหวัดขอนแก่น = {mean_femaleKK} ปี')

อายุเฉลี่ยของผู้หญิงทั้งหมดในจังหวัดขอนแก่น = 41.57142857142857 ปี

### เฉลยการบ้าน

In [20]:
this_data = data_covid[['sex','age','province_of_onset']]

In [21]:
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [22]:
female = this_data[this_data['sex']=='หญิง']
female['age']

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 5199, dtype: float64

In [23]:
sum = 0
N = 0
for a in female['age']:
    if a > 0:
      sum += a # sum = sum + a
      N += 1
print(f'อายุเฉลี่ย ของ ผู้หญิง {sum/N}')

อายุเฉลี่ย ของ ผู้หญิง 36.70788295640009

In [24]:
female_KK = female[female['province_of_onset']=='ขอนแก่น']


sum = 0
N = 0
for a in female_KK['age']:
    if a > 0:
      sum += a # sum = sum + a
      N += 1
print(f'อายุเฉลี่ย ของ ผู้หญิง ในจังหวัดขอนแก่น {sum/N}')

อายุเฉลี่ย ของ ผู้หญิง ในจังหวัดขอนแก่น 41.57142857142857

### การจัดการ Missing Value

- ลบ record ที่เป็น missing
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknow 
- ใช้ ค่าจาก column อื่น ช่วยประมาณค่าในคอลัมที่หายไป (regression, deep learning, etc.)

### ลบ record ใช้ (.dropna)

missing = None,NA = (not autorized),NaN=(Not a number)

In [25]:
this_data.shape

(12423, 3)

In [26]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12423, 10)
(6430, 10)

In [27]:
this_data.dropna().shape

(8253, 3)

In [28]:
this_data.dropna(inplace=True) # inplace=True เป็นการเพิ่มค่าในตาราง

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
this_data.dropna(inplace=True)
print(this_data.shape)

(8253, 3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data.shape

(12423, 3)

In [ ]:
this_data.dropna(subset= ['age']).shape
# sebset เป็นตัวเลือกคอลัม ที่จะทำการ dropna

(8656, 3)

### แทน missing ด้วยค่าที่เหมาะสม (fillna = ฟิว'na) โดยที่ข้อมูลจะไม่หายไป

In [32]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [33]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f"จำนวน record ก่อน drop missing ใน province {this_data.dropna(subset= ['province_of_onset']).shape[0]}")

จำนวน record ก่อน drop missing ใน province 12423
จำนวน record ก่อน drop missing ใน province 10432

In [35]:
this_data_updated = this_data.fillna(value={'sex':'ไม่รู้', 'age':-1, 'province_of_onset':'ไม่รู้'})
this_data_updated.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [36]:
this_data_updated[this_data_updated['sex']=='ไม่รู้'] #รันออกมาได้เพราะจำนวนแถวเท่ากัน

          sex  age province_of_onset
4391   ไม่รู้ -1.0         สมุทรสาคร
4392   ไม่รู้ -1.0         สมุทรสาคร
4393   ไม่รู้ -1.0         สมุทรสาคร
4394   ไม่รู้ -1.0         สมุทรสาคร
4395   ไม่รู้ -1.0         สมุทรสาคร
...       ...  ...               ...
12405  ไม่รู้ -1.0            ไม่รู้
12406  ไม่รู้ -1.0            ไม่รู้
12407  ไม่รู้ -1.0            ไม่รู้
12408  ไม่รู้ -1.0            ไม่รู้
12409  ไม่รู้ -1.0            ไม่รู้

[2497 rows x 3 columns]

In [37]:
this_data_updated['province_of_onset']=='ไม่รู้'

0        False
1        False
2        False
3        False
4        False
         ...
12418    False
12419    False
12420    False
12421    False
12422    False
Name: province_of_onset, Length: 12423, dtype: bool

In [38]:
data_covid[this_data_updated['province_of_onset']=='ไม่รู้']

         No.  ...                                         risk
414      415  ...                                      สนามมวย
529      530  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
555      556  ...                                      สนามมวย
576      577  ...                                      สนามมวย
588      589  ...                         อยู่ระหว่างการสอบสวน
...      ...  ...                                          ...
12405  12406  ...                            Cluster สมุทรสาคร
12406  12407  ...                            Cluster สมุทรสาคร
12407  12408  ...                            Cluster สมุทรสาคร
12408  12409  ...                            Cluster สมุทรสาคร
12409  12410  ...                            Cluster สมุทรสาคร

[1991 rows x 10 columns]

In [39]:
this_data_updated_2 = this_data.fillna(value={'province_of_onset':'ไม่รู้'})

In [40]:
this_data_updated_2[this_data_updated['sex']=='ไม่รู้']

       sex  age province_of_onset
4391   NaN  NaN         สมุทรสาคร
4392   NaN  NaN         สมุทรสาคร
4393   NaN  NaN         สมุทรสาคร
4394   NaN  NaN         สมุทรสาคร
4395   NaN  NaN         สมุทรสาคร
...    ...  ...               ...
12405  NaN  NaN            ไม่รู้
12406  NaN  NaN            ไม่รู้
12407  NaN  NaN            ไม่รู้
12408  NaN  NaN            ไม่รู้
12409  NaN  NaN            ไม่รู้

[2497 rows x 3 columns]

### การวนลูป record ในตาราง(iterrow)

In [43]:
this_data = data_covid[['sex','age','province_of_onset']]

In [44]:
for each_row in this_data.iterrows():  #each_row คือ แถวในแพนด้า
    # print(each_row)
    # print(each_row[1])
    if (each_row[1]['age'] == 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น'):
        print(each_row)

(9334, sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

### การวนลูปแบบมองตารางแพนด้า(pandas dataframe)เป็น numpy array ในตาราง(.iloc)

วนลูปแบบใช้แถวและหลักแบบ numpy

In [57]:
for each_row in range(this_data.shape[0]) :
    if (this_data.iloc[each_row,1] == 20) and (this_data.iloc[each_row,2] == 'ขอนแก่น') :  #each_row คือ ตัวเลข
        print(this_data.iloc[each_row,:])

sex                      ชาย
age                       20
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

### Quiz ตัดตาราง announce_date ในปี 2021

In [59]:
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [ ]:
for date in  data_covid.iterrows(): 
    if (date[1]['announce_date'] == '1/1/2021') : # 6884
        print(date)

In [ ]:
covid2021 = data_covid.iloc[6884:,:]
covid2021

## เฉลย Quiz

In [81]:
TF=list()
for each_row in data_covid.iterrows() :
  if each_row[1]['announce_date'].split('/')[2] == '2021' : 
      TF.append(True)
  else:
      TF.append(False)

data_covid[TF]

         No.  ...                                               risk
6884    6885  ...                                  Cluster สมุทรสาคร
6885    6886  ...                                      Cluster ระยอง
6886    6887  ...                                        สถานบันเทิง
6887    6888  ...                                  Cluster สมุทรสาคร
6888    6889  ...  อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...
...      ...  ...                                                ...
12418  12419  ...                                        สถานบันเทิง
12419  12420  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                        Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...        สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[5539 rows x 10 columns]

## Function ตัวช่วยใน pandas

### .describe() คำนวณค่าสถิติที่เป็นตัวเลข

In [82]:
data_covid.describe()

                No.          age
count  12423.000000  8656.000000
mean    6212.000000    38.143856
std     3586.355532    15.201953
min        1.000000     0.100000
25%     3106.500000    27.000000
50%     6212.000000    36.000000
75%     9317.500000    49.000000
max    12423.000000    97.000000

### .mean() คำนวณค่าเฉลี่ยของข้อมูล โดยไม่สนใจ missing

In [83]:
data_covid[data_covid['sex']=='ชาย']['age'].mean()

39.55682775996335

## .isnull() ใช้เช็คค่าในตารางว่าเป็นค่าว่างรึเปล่า

In [84]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]