<a href="https://colab.research.google.com/github/Suchirapon/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from google.colab import drive #เชื่อมต่อ google.colab กับ drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os #ทำงานเกี่ยวกับการจัดการไฟล์ 
path = '/content/drive/My Drive/dataviz_2021_data'

In [4]:
timestamp_ex = os.path.join(path,'example_timestamp_02.csv')

In [5]:
timestamp_ex_df = pd.read_csv(timestamp_ex) 
timestamp_ex_df

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [6]:
from datetime import datetime

In [7]:
timestamp_ex_df.columns

Index(['Unnamed: 0', 'alpha', 'beta'], dtype='object')

In [8]:
timestamp_ex_df.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in timestamp_ex_df.columns]
timestamp_ex_df

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

### เปรียบเทียบผลรวม alpha และ beta ของข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [9]:
timestamp_ex_df_1 = timestamp_ex_df[timestamp_ex_df['Unnamed: 0'] <= '2020-05-31']
data_before = timestamp_ex_df_1[['alpha','beta']].sum()
data_before

alpha    15.66
beta     85.00
dtype: float64

In [10]:
timestamp_ex_df_1 = timestamp_ex_df[timestamp_ex_df['Unnamed: 0'] >= '2020-06-02']
data_after = timestamp_ex_df_1[['alpha','beta']].sum()
data_after

alpha    22.22
beta     74.00
dtype: float64

# ไฟล์ใหม่

In [11]:
timestamp_ex_02 = os.path.join(path,'example_timestamp_02.csv')

In [12]:
data = pd.read_csv(timestamp_ex_02) 
data

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

### เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน time_diff_naos ระหว่างช่วงเวลา 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี time_diff_naos น้อยกว่ากัน

In [ ]:
from datetime import datetime