<a href="https://colab.research.google.com/github/Suchirapon/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive #เชื่อมต่อ google.colab กับ drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os #ทำงานเกี่ยวกับการจัดการไฟล์ 
path = '/content/drive/My Drive/dataviz_2021_data'

In [3]:
search_df = os.path.join(path,'search_request.csv')

In [4]:
s_df = pd.read_csv(search_df) 
s_df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [5]:
from datetime import datetime

In [27]:
s_df.columns = [i.strftime('%Y-%m-%d %H:%M:%S.%f') if isinstance(i, datetime) else i for i in s_df.columns]
s_df.head(10)

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.8531  101.109
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.4511  102.249
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.6409  100.433
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.7209  100.527
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.7208  100.527

[10 rows x 10 columns]

In [10]:
s_df.iloc[0,2]

'2018-06-14 12:34:35.449'

# เปรียบเทียบจำนวน requests ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59 
# เปรียบเทียบจำนวน requests ของวันจันทร์-พฤหัส กับ ศุกร์-อาทิตย์

In [28]:
s_df['search_timestamp']  = pd.to_datetime(s_df['search_timestamp'],dayfirst=True,errors='coerce')

In [29]:
s_df['Time'],s_df['Date']= s_df['search_timestamp'].apply(lambda x:x.time()), s_df['search_timestamp'].apply(lambda x:x.date())
s_df

ValueError: ignored