<a href="https://colab.research.google.com/github/Suchirapon/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive #เชื่อมต่อ google.colab กับ drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os #ทำงานเกี่ยวกับการจัดการไฟล์ 
path = '/content/drive/My Drive/dataviz_2021_data'

In [6]:
data = os.path.join(path,'example_timestamp.csv')

In [7]:
data = pd.read_csv(data) 
data

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [8]:
data.iloc[0,0]

'2020-05-29'

In [9]:
from datetime import datetime

In [10]:
data['Unnamed: 0'] = pd.to_datetime(data['Unnamed: 0'], format='%Y-%m-%d')
data

  Unnamed: 0  alpha  beta
0 2020-05-29   8.78    24
1 2020-05-30  13.00    25
2 2020-05-31   0.44    25
3 2020-06-01   1.94    28
4 2020-06-02   5.40    20
5 2020-06-03   5.68    21
6 2020-06-04   2.64    16

In [11]:
data.iloc[0,0]

Timestamp('2020-05-29 00:00:00')

In [12]:
A = data[data['Unnamed: 0']<datetime(day=2,month=6,year=2020)].sum()
print(A)

alpha     24.16
beta     102.00
dtype: float64

In [13]:
A['alpha']

24.160000000000004

In [14]:
data[data['Unnamed: 0']>=datetime(day=2,month=6,year=2020)].sum()

alpha    13.72
beta     57.00
dtype: float64

In [15]:
print(f"ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ {A['alpha']:.2f}")

ผลรวมของค่า alpha ก่อนวันที่ 2 มิ.ย. 2020 คือ 24.16

### เปรียบเทียบผลรวม alpha และ beta ของข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [ ]:
timestamp_ex_df_1 = timestamp_ex_df[timestamp_ex_df['Unnamed: 0'] <= '2020-05-31']
data_before = timestamp_ex_df_1[['alpha','beta']].sum()
data_before

alpha    15.66
beta     85.00
dtype: float64

In [ ]:
timestamp_ex_df_1 = timestamp_ex_df[timestamp_ex_df['Unnamed: 0'] >= '2020-06-02']
data_after = timestamp_ex_df_1[['alpha','beta']].sum()
data_after

alpha    22.22
beta     74.00
dtype: float64

## Query how?

In [16]:
data.query('alpha == 1.94')

  Unnamed: 0  alpha  beta
3 2020-06-01   1.94    28

In [17]:
data[data['alpha']==1.94]

  Unnamed: 0  alpha  beta
3 2020-06-01   1.94    28

# ไฟล์ใหม่

In [ ]:
timestamp_ex_02 = os.path.join(path,'example_timestamp_02.csv')

In [ ]:
data = pd.read_csv(timestamp_ex_02) 
data

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

### เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน time_diff_naos ระหว่างช่วงเวลา 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี time_diff_naos น้อยกว่ากัน