<a href="https://colab.research.google.com/github/Suchirapon/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive #เชื่อมต่อ google.colab กับ drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import os #ทำงานเกี่ยวกับการจัดการไฟล์ 
path = '/content/drive/My Drive/dataviz_2021_data'

In [23]:
timestamp_ex = os.path.join(path,'example_timestamp.csv')

In [24]:
timestamp_ex_df = pd.read_csv(timestamp_ex) 
timestamp_ex_df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [25]:
from datetime import datetime

In [26]:
timestamp_ex_df.columns

Index(['Unnamed: 0', 'alpha', 'beta'], dtype='object')

In [27]:
timestamp_ex_df.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in timestamp_ex_df.columns]
timestamp_ex_df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

### เปรียบเทียบผลรวม alpha และ beta ของข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [35]:
timestamp_ex_df_1 = timestamp_ex_df[timestamp_ex_df['Unnamed: 0'] < '2020-06-02']
data_before = timestamp_ex_df_1[['alpha','beta']].sum()
data_before

alpha     24.16
beta     102.00
dtype: float64

In [38]:
timestamp_ex_df_1 = timestamp_ex_df[timestamp_ex_df['Unnamed: 0'] >= '2020-06-02']
data_after = timestamp_ex_df_1[['alpha','beta']].sum()
data_after

alpha    13.72
beta     57.00
dtype: float64

### เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน time_diff_naos ระหว่างช่วงเวลา 10.00-10.59 กับ 23.00-23.59 ว่าช่วงเวลาไหนมี time_diff_naos น้อยกว่ากัน

In [18]:
from datetime import datetime