<a href="https://colab.research.google.com/github/Suchirapon/data_viz/blob/main/QUIZ3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
from google.colab import drive #เชื่อมต่อ google.colab กับ drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os #ทำงานเกี่ยวกับการจัดการไฟล์ 
path = '/content/drive/My Drive/dataviz_2021_data'

In [7]:
data_path = os.path.join(path,'จัดซื้อ.xls')

In [19]:
data_1= pd.read_excel('/content/drive/My Drive/dataviz_2021_data/จัดซื้อ.xls',sheet_name='ตค.57',skiprows=1)
data_1.head()

  สรุปผลการดำเนินการจัดซื้อในรอบเดือน ตุลาคม 2557  ...                Unnamed: 8
0      สำนักงานปลัดกระทรวงวิทยาศาสตร์และเทคโนโลยี  ...                       NaN
1                                             NaN  ...                       NaN
2                                           ลำดับ  ...  เหตุผลที่คัดเลือกโดยสรุป
3                                             ที่  ...                       NaN
4                                               1  ...   เป็นผู้ให้บริการจำหน่าย

[5 rows x 9 columns]

In [15]:
data_2= pd.read_excel('/content/drive/My Drive/dataviz_2021_data/จัดซื้อ.xls',sheet_name='พย.57',skiprows=1)
data_2.head()

  สรุปผลการดำเนินการจัดซื้อในรอบเดือน พฤษจิกายน 2557  ...                Unnamed: 8
0         สำนักงานปลัดกระทรวงวิทยาศาสตร์และเทคโนโลยี  ...                       NaN
1                                                NaN  ...                       NaN
2                                              ลำดับ  ...  เหตุผลที่คัดเลือกโดยสรุป
3                                                ที่  ...                       NaN
4                                                  1  ...   เป็นผู้ให้บริการจำหน่าย

[5 rows x 9 columns]